# 简易的回测框架

In [2]:
import pandas as pd
data=pd.read_pickle(r'D:\DataSet\convdata_0521\convdata_0521.pkl')

In [3]:
data.head()

,tickerBond,tickerEqu,tradeDate,totalSize,remainSize,closePriceBond,convPrice,closePriceEqu,bondPremRatio,debtPuredebtRatio,puredebtPremRatio
0,110030,600185,2018-01-02,9.8,9.77498,105.40,7.24,5.77,32.2523,96.894421,8.778193
1,110030,600185,2018-01-03,9.8,9.77498,105.46,7.24,5.79,31.8705,96.961544,8.764770
2,110030,600185,2018-01-04,9.8,9.77498,105.60,7.24,5.80,31.8179,96.941051,8.932180
3,110030,600185,2018-01-05,9.8,9.77498,109.34,7.24,6.15,28.7189,96.971727,12.754514
4,110030,600185,2018-01-08,9.8,9.77477,109.76,7.24,6.27,26.7404,97.024813,13.125701

In [4]:
pricedf=data[['tickerBond','tradeDate','closePriceBond']]

In [5]:
pricedf=pricedf.set_index(['tradeDate','tickerBond']).unstack()['closePriceBond']

In [6]:
pricedf.head()

tickerBond,110030,110031,110032,110033,110034,110038,110039,110040,110041,110042,...,128136,128137,128138,128139,128140,128141,128142,128143,128144,128145
tradeDate,,,,,,,,,,,,,,,,,,,,,
2018-01-02,105.40,100.09,126.64,118.08,110.44,107.55,107.17,111.53,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,105.46,100.37,127.53,120.01,112.74,110.00,108.00,112.31,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,105.60,100.38,127.07,120.39,114.00,111.10,110.35,112.25,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,109.34,101.40,130.14,123.89,114.00,112.57,112.95,113.29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,109.76,100.67,132.33,124.40,113.95,113.15,112.03,113.68,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pricedf.index=pd.to_datetime(pricedf.index)

In [8]:
pricedf.head()

tickerBond,110030,110031,110032,110033,110034,110038,110039,110040,110041,110042,...,128136,128137,128138,128139,128140,128141,128142,128143,128144,128145
tradeDate,,,,,,,,,,,,,,,,,,,,,
2018-01-02,105.40,100.09,126.64,118.08,110.44,107.55,107.17,111.53,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,105.46,100.37,127.53,120.01,112.74,110.00,108.00,112.31,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,105.60,100.38,127.07,120.39,114.00,111.10,110.35,112.25,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,109.34,101.40,130.14,123.89,114.00,112.57,112.95,113.29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,109.76,100.67,132.33,124.40,113.95,113.15,112.03,113.68,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
day_return=pricedf.pct_change().shift(-1)

In [10]:
day_return.head()

tickerBond,110030,110031,110032,110033,110034,110038,110039,110040,110041,110042,...,128136,128137,128138,128139,128140,128141,128142,128143,128144,128145
tradeDate,,,,,,,,,,,,,,,,,,,,,
2018-01-02,0.000569,0.002797,0.007028,0.016345,0.020826,0.022780,0.007745,0.006994,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,0.001328,0.000100,-0.003607,0.003166,0.011176,0.010000,0.021759,-0.000534,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,0.035417,0.010161,0.024160,0.029072,0.000000,0.013231,0.023561,0.009265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,0.003841,-0.007199,0.016828,0.004117,-0.000439,0.005152,-0.008145,0.003442,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,-0.005284,-0.002682,-0.013829,-0.000482,0.004651,0.000884,-0.008569,-0.018209,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:

premdf=data[['tickerBond','tradeDate','bondPremRatio']]
premdf=premdf.set_index(['tradeDate','tickerBond']).unstack()['bondPremRatio']
premdf.index=pd.to_datetime(premdf.index)

In [12]:

factor=premdf+pricedf

In [13]:
factor.head()

tickerBond,110030,110031,110032,110033,110034,110038,110039,110040,110041,110042,...,128136,128137,128138,128139,128140,128141,128142,128143,128144,128145
tradeDate,,,,,,,,,,,,,,,,,,,,,
2018-01-02,137.6523,197.9584,125.8948,119.9688,116.4166,122.7941,112.6824,116.1799,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,137.3305,196.7959,127.5878,123.5641,121.2046,123.0295,115.3602,119.0198,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,137.4179,197.0953,127.0837,124.2720,123.2229,125.2312,117.7899,119.0784,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,138.0589,199.6603,130.9679,127.3469,123.9625,128.1535,120.4825,121.1674,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,136.5004,202.3870,131.8454,127.5010,125.0212,127.4136,121.1056,121.2201,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
N=20
def selectTopN(tmp):
    tmp=tmp.copy()
    symbols=tmp.nsmallest(N).index
    
    tmp[:]=0
    tmp[symbols]=1
    
    return tmp
signal=factor.apply(selectTopN,axis=0)

In [23]:
signal.head()

tickerBond,110030,110031,110032,110033,110034,110038,110039,110040,110041,110042,...,128136,128137,128138,128139,128140,128141,128142,128143,128144,128145
tradeDate,,,,,,,,,,,,,,,,,,,,,
2018-01-02,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-03,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-04,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-05,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-08,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
signal.iloc[0]

tickerBond
110030    0.0
110031    0.0
110032    0.0
110033    1.0
110034    1.0
         ...
128141    0.0
128142    0.0
128143    0.0
128144    0.0
128145    0.0
Name: 2018-01-02 00:00:00, Length: 482, dtype: float64