In [88]:
import sys
sys.path.append('..')

In [89]:
from configure.settings import DBSelector

In [90]:
db = DBSelector()

In [91]:
conn = db.get_engine(db='db_stock')

In [92]:
import pandas as pd

In [93]:
df = pd.read_sql('tb_cb_index_test',con=conn)

In [56]:
df.head(20)

           日期       指数  成交额(亿元)      涨跌    涨跌额  转债数目     剩余规模
0  2017-12-29  1000.00   10.581   0.000  0.000  36.0  853.790
1  2018-01-02  1008.83   13.936   8.831  0.883  36.0  690.602
2  2018-01-03  1018.81   15.964   9.977  0.989  37.0  691.246
3  2018-01-04  1024.34   15.495   5.536  0.543  38.0  700.443
4  2018-01-05  1034.66   19.973  10.311  1.007  38.0  700.443
5  2018-01-08  1035.65   20.513   0.990  0.096  37.0  698.595
6  2018-01-09  1029.98   12.011  -5.668 -0.547  37.0  698.595
7  2018-01-10  1025.42   17.635  -4.556 -0.442  38.0  717.324
8  2018-01-11  1026.64   14.397   1.220  0.119  38.0  717.324
9  2018-01-12  1025.85   12.904  -0.789 -0.077  38.0  717.324
10 2018-01-15  1013.79   22.619 -12.063 -1.176  39.0  717.432
11 2018-01-16  1015.89   15.827   2.099  0.207  41.0  756.974
12 2018-01-17  1015.57   24.303  -0.317 -0.031  42.0  768.954
13 2018-01-18  1022.12   22.432   6.547  0.645  43.0  806.120
14 2018-01-19  1027.75   28.810   5.634  0.551  43.0  806.120
15 2018-01-22  1039.47   32.225  11.716  1.140  44.0  815.398
16 2018-01-23  1045.08   46.129   5.615  0.540  45.0  815.834
17 2018-01-24  1055.25   43.476  10.167  0.973  45.0  815.834
18 2018-01-25  1062.06   38.987   6.812  0.646  45.0  815.834
19 2018-01-26  1060.13   31.229  -1.932 -0.182  46.0  825.832

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   日期       750 non-null    datetime64[ns]
 1   指数       750 non-null    float64
 2   成交额(亿元)  750 non-null    float64
 3   涨跌       750 non-null    float64
 4   涨跌额      750 non-null    float64
 5   转债数目     750 non-null    float64
 6   剩余规模     750 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 41.1 KB

In [57]:
df.tail()

            日期       指数  成交额(亿元)      涨跌    涨跌额   转债数目     剩余规模
745 2021-01-22  1548.56  463.642  -4.177 -0.269  339.0  5079.33
746 2021-01-25  1542.65  534.864  -5.916 -0.382  340.0  5110.36
747 2021-01-26  1528.61  435.469 -14.038 -0.910  339.0  5106.60
748 2021-01-27  1511.21  487.691 -17.396 -1.138  339.0  5103.05
749 2021-01-28  1492.19  492.621 -19.026 -1.259  339.0  5098.99

In [23]:
df['涨'] = df['涨跌额'].map(lambda x:True if x>=0 else False)

In [24]:
df

            日期       指数  成交额(亿元)      涨跌    涨跌额   转债数目      剩余规模      涨
0   2017-12-29  1000.00   10.581   0.000  0.000   36.0   853.790   True
1   2018-01-02  1008.83   13.936   8.831  0.883   36.0   690.602   True
2   2018-01-03  1018.81   15.964   9.977  0.989   37.0   691.246   True
3   2018-01-04  1024.34   15.495   5.536  0.543   38.0   700.443   True
4   2018-01-05  1034.66   19.973  10.311  1.007   38.0   700.443   True
..         ...      ...      ...     ...    ...    ...       ...    ...
745 2021-01-22  1548.56  463.642  -4.177 -0.269  339.0  5079.330  False
746 2021-01-25  1542.65  534.864  -5.916 -0.382  340.0  5110.360  False
747 2021-01-26  1528.61  435.469 -14.038 -0.910  339.0  5106.600  False
748 2021-01-27  1511.21  487.691 -17.396 -1.138  339.0  5103.050  False
749 2021-01-28  1492.19  492.621 -19.026 -1.259  339.0  5098.990  False

[750 rows x 8 columns]

In [94]:
df['日期']=pd.to_datetime(df['日期'])

In [95]:
df=df.set_index('日期',drop=False)

In [81]:
df[df['日期']<'2019-07-12'].tail(20)

                   日期       指数  成交额(亿元)      涨跌    涨跌额   转债数目     剩余规模
日期
2019-06-14 2019-06-14  1089.07   49.941  -7.882 -0.719  160.0  2645.36
2019-06-17 2019-06-17  1087.09   44.379  -1.979 -0.182  159.0  2633.41
2019-06-18 2019-06-18  1086.46   50.812  -0.630 -0.058  160.0  2650.74
2019-06-19 2019-06-19  1093.36   58.761   6.898  0.635  160.0  2650.74
2019-06-20 2019-06-20  1106.05   81.703  12.691  1.161  160.0  2650.74
2019-06-21 2019-06-21  1116.92   62.145  10.867  0.983  160.0  2650.74
2019-06-24 2019-06-24  1116.27   44.539  -0.649 -0.058  160.0  2651.52
2019-06-25 2019-06-25  1111.02   51.233  -5.250 -0.470  161.0  2653.44
2019-06-26 2019-06-26  1114.55   40.451   3.529  0.318  161.0  2653.44
2019-06-27 2019-06-27  1121.20   74.966   6.649  0.597  162.0  2664.61
2019-06-28 2019-06-28  1121.08   46.615  -0.119 -0.011  162.0  2664.61
2019-07-01 2019-07-01  1138.60   89.704  17.517  1.563  162.0  2664.61
2019-07-02 2019-07-02  1138.09   86.956  -0.508 -0.045  164.0  2672.98
2019-07-03 2019-07-03  1133.57   74.089  -4.520 -0.397  164.0  2672.98
2019-07-04 2019-07-04  1133.31   82.674  -0.261 -0.023  164.0  2672.98
2019-07-05 2019-07-05  1132.87   64.786  -0.441 -0.039  164.0  2676.34
2019-07-08 2019-07-08  1119.73   49.261 -13.137 -1.160  165.0  2684.34
2019-07-09 2019-07-09  1119.09   46.949  -0.643 -0.057  166.0  2706.04
2019-07-10 2019-07-10  1116.22   40.163  -2.866 -0.256  166.0  2706.04
2019-07-11 2019-07-11  1116.06   41.757  -0.164 -0.015  167.0  2712.44

In [97]:
max_day = 0
max_day_list =[]
for index,row in df.iterrows():
    if row['涨跌额'] <0:
        max_day+=1
    else:
        max_day_list.append((index,max_day))     
        max_day=0

if max_day!=0:
    max_day_list.append((index,max_day))

In [83]:
max_day_list

[(Timestamp('2017-12-29 00:00:00'), 0),
 (Timestamp('2018-01-02 00:00:00'), 0),
 (Timestamp('2018-01-03 00:00:00'), 0),
 (Timestamp('2018-01-04 00:00:00'), 0),
 (Timestamp('2018-01-05 00:00:00'), 0),
 (Timestamp('2018-01-08 00:00:00'), 0),
 (Timestamp('2018-01-11 00:00:00'), 2),
 (Timestamp('2018-01-16 00:00:00'), 2),
 (Timestamp('2018-01-18 00:00:00'), 1),
 (Timestamp('2018-01-19 00:00:00'), 0),
 (Timestamp('2018-01-22 00:00:00'), 0),
 (Timestamp('2018-01-23 00:00:00'), 0),
 (Timestamp('2018-01-24 00:00:00'), 0),
 (Timestamp('2018-01-25 00:00:00'), 0),
 (Timestamp('2018-02-02 00:00:00'), 5),
 (Timestamp('2018-02-05 00:00:00'), 0),
 (Timestamp('2018-02-12 00:00:00'), 4),
 (Timestamp('2018-02-13 00:00:00'), 0),
 (Timestamp('2018-02-14 00:00:00'), 0),
 (Timestamp('2018-02-22 00:00:00'), 0),
 (Timestamp('2018-02-26 00:00:00'), 1),
 (Timestamp('2018-03-01 00:00:00'), 2),
 (Timestamp('2018-03-06 00:00:00'), 2),
 (Timestamp('2018-03-08 00:00:00'), 1),
 (Timestamp('2018-03-09 00:00:00'), 0),
 (Timestamp('2018-03-12 00:00:00'), 0),
 (Timestamp('2018-03-19 00:00:00'), 4),
 (Timestamp('2018-03-26 00:00:00'), 4),
 (Timestamp('2018-03-27 00:00:00'), 0),
 (Timestamp('2018-03-29 00:00:00'), 1),
 (Timestamp('2018-03-30 00:00:00'), 0),
 (Timestamp('2018-04-02 00:00:00'), 0),
 (Timestamp('2018-04-09 00:00:00'), 2),
 (Timestamp('2018-04-11 00:00:00'), 1),
 (Timestamp('2018-04-18 00:00:00'), 4),
 (Timestamp('2018-04-19 00:00:00'), 0),
 (Timestamp('2018-04-24 00:00:00'), 2),
 (Timestamp('2018-04-27 00:00:00'), 2),
 (Timestamp('2018-05-03 00:00:00'), 1),
 (Timestamp('2018-05-04 00:00:00'), 0),
 (Timestamp('2018-05-07 00:00:00'), 0),
 (Timestamp('2018-05-08 00:00:00'), 0),
 (Timestamp('2018-05-10 00:00:00'), 1),
 (Timestamp('2018-05-15 00:00:00'), 2),
 (Timestamp('2018-05-18 00:00:00'), 2),
 (Timestamp('2018-05-21 00:00:00'), 0),
 (Timestamp('2018-05-22 00:00:00'), 0),
 (Timestamp('2018-05-31 00:00:00'), 6),
 (Timestamp('2018-06-05 00:00:00'), 2),
 (Timestamp('2018-06-06 00:00:00'), 0),
 (Timestamp('2018-06-07 00:00:00'), 0),
 (Timestamp('2018-06-12 00:00:00'), 2),
 (Timestamp('2018-06-20 00:00:00'), 4),
 (Timestamp('2018-06-22 00:00:00'), 1),
 (Timestamp('2018-06-25 00:00:00'), 0),
 (Timestamp('2018-06-26 00:00:00'), 0),
 (Timestamp('2018-06-28 00:00:00'), 1),
 (Timestamp('2018-06-29 00:00:00'), 0),
 (Timestamp('2018-07-03 00:00:00'), 1),
 (Timestamp('2018-07-06 00:00:00'), 2),
 (Timestamp('2018-07-09 00:00:00'), 0),
 (Timestamp('2018-07-10 00:00:00'), 0),
 (Timestamp('2018-07-12 00:00:00'), 1),
 (Timestamp('2018-07-13 00:00:00'), 0),
 (Timestamp('2018-07-17 00:00:00'), 1),
 (Timestamp('2018-07-18 00:00:00'), 0),
 (Timestamp('2018-07-19 00:00:00'), 0),
 (Timestamp('2018-07-20 00:00:00'), 0),
 (Timestamp('2018-07-23 00:00:00'), 0),
 (Timestamp('2018-07-24 00:00:00'), 0),
 (Timestamp('2018-07-31 00:00:00'), 4),
 (Timestamp('2018-08-07 00:00:00'), 4),
 (Timestamp('2018-08-09 00:00:00'), 1),
 (Timestamp('2018-08-10 00:00:00'), 0),
 (Timestamp('2018-08-13 00:00:00'), 0),
 (Timestamp('2018-08-21 00:00:00'), 5),
 (Timestamp('2018-08-23 00:00:00'), 1),
 (Timestamp('2018-08-24 00:00:00'), 0),
 (Timestamp('2018-08-27 00:00:00'), 0),
 (Timestamp('2018-08-28 00:00:00'), 0),
 (Timestamp('2018-09-04 00:00:00'), 4),
 (Timestamp('2018-09-13 00:00:00'), 6),
 (Timestamp('2018-09-18 00:00:00'), 2),
 (Timestamp('2018-09-19 00:00:00'), 0),
 (Timestamp('2018-09-21 00:00:00'), 1),
 (Timestamp('2018-09-26 00:00:00'), 1),
 (Timestamp('2018-09-28 00:00:00'), 1),
 (Timestamp('2018-10-12 00:00:00'), 4),
 (Timestamp('2018-10-19 00:00:00'), 4),
 (Timestamp('2018-10-22 00:00:00'), 0),
 (Timestamp('2018-10-24 00:00:00'), 1),
 (Timestamp('2018-10-26 00:00:00'), 1),
 (Timestamp('2018-10-30 00:00:00'), 1),
 (Timestamp('2018-10-31 00:00:00'), 0),
 (Timestamp('2018-11-01 00:00:00'), 0),
 (Timestamp('2018-11-02 00:00:00'), 0),
 (Timestamp('2018-11-05 00:00:00'), 0),
 (Timestamp('2018-11-07 00:00:00'), 1),
 (Timestamp('2018-11-12 00:00:00'), 2),
 (Timestamp('2018-11-13 00:00:00'), 0),
 (Timestamp('2018-11-14 00:00:00'), 0),
 (Timestamp('2018-11-15 00:00:00'), 0),
 (Timestamp('2018-11-16 00:00:00'), 0),
 (Timestamp('2018-11-19 00:00:00'), 0),
 (Timestamp('2018-11-21 00:00:00'), 1),
 (Timestamp('2018-11-27 00:00:00'), 3),
 (Timestamp('2018-11-28 00:00:00'), 0),
 (Timestamp('2018-11-30 00:00:00'), 1),
 (Timestamp('2018-12-03 00:00:00'), 0),
 (Timestamp('2018-12-04 00:00:00'), 0),
 (Timestamp('2018-12-05 00:00:00'), 0),
 (Timestamp('2018-12-07 00:00:00'), 1),
 (Timestamp('2018-12-12 00:00:00'), 2),
 (Timestamp('2018-12-13 00:00:00'), 0),
 (Timestamp('2018-12-24 00:00:00'), 6),
 (Timestamp('2018-12-28 00:00:00'), 3),
 (Timestamp('2019-01-03 00:00:00'), 1),
 (Timestamp('2019-01-04 00:00:00'), 0),
 (Timestamp('2019-01-07 00:00:00'), 0),
 (Timestamp('2019-01-08 00:00:00'), 0),
 (Timestamp('2019-01-09 00:00:00'), 0),
 (Timestamp('2019-01-10 00:00:00'), 0),
 (Timestamp('2019-01-11 00:00:00'), 0),
 (Timestamp('2019-01-15 00:00:00'), 1),
 (Timestamp('2019-01-16 00:00:00'), 0),
 (Timestamp('2019-01-18 00:00:00'), 1),
 (Timestamp('2019-01-21 00:00:00'), 0),
 (Timestamp('2019-01-23 00:00:00'), 1),
 (Timestamp('2019-01-24 00:00:00'), 0),
 (Timestamp('2019-01-25 00:00:00'), 0),
 (Timestamp('2019-02-01 00:00:00'), 4),
 (Timestamp('2019-02-11 00:00:00'), 0),
 (Timestamp('2019-02-12 00:00:00'), 0),
 (Timestamp('2019-02-13 00:00:00'), 0),
 (Timestamp('2019-02-14 00:00:00'), 0),
 (Timestamp('2019-02-18 00:00:00'), 1),
 (Timestamp('2019-02-20 00:00:00'), 1),
 (Timestamp('2019-02-21 00:00:00'), 0),
 (Timestamp('2019-02-22 00:00:00'), 0),
 (Timestamp('2019-02-25 00:00:00'), 0),
 (Timestamp('2019-02-28 00:00:00'), 2),
 (Timestamp('2019-03-01 00:00:00'), 0),
 (Timestamp('2019-03-04 00:00:00'), 0),
 (Timestamp('2019-03-05 00:00:00'), 0),
 (Timestamp('2019-03-06 00:00:00'), 0),
 (Timestamp('2019-03-07 00:00:00'), 0),
 (Timestamp('2019-03-11 00:00:00'), 1),
 (Timestamp('2019-03-12 00:00:00'), 0),
 (Timestamp('2019-03-15 00:00:00'), 2),
 (Timestamp('2019-03-18 00:00:00'), 0),
 (Timestamp('2019-03-19 00:00:00'), 0),
 (Timestamp('2019-03-21 00:00:00'), 1),
 (Timestamp('2019-03-27 00:00:00'), 3),
 (Timestamp('2019-03-29 00:00:00'), 1),
 (Timestamp('2019-04-01 00:00:00'), 0),
 (Timestamp('2019-04-02 00:00:00'), 0),
 (Timestamp('2019-04-03 00:00:00'), 0),
 (Timestamp('2019-04-04 00:00:00'), 0),
 (Timestamp('2019-04-12 00:00:00'), 4),
 (Timestamp('2019-04-16 00:00:00'), 1),
 (Timestamp('2019-04-17 00:00:00'), 0),
 (Timestamp('2019-04-19 00:00:00'), 1),
 (Timestamp('2019-04-30 00:00:00'), 6),
 (Timestamp('2019-05-07 00:00:00'), 1),
 (Timestamp('2019-05-08 00:00:00'), 0),
 (Timestamp('2019-05-09 00:00:00'), 0),
 (Timestamp('2019-05-10 00:00:00'), 0),
 (Timestamp('2019-05-14 00:00:00'), 1),
 (Timestamp('2019-05-15 00:00:00'), 0),
 (Timestamp('2019-05-16 00:00:00'), 0),
 (Timestamp('2019-05-21 00:00:00'), 2),
 (Timestamp('2019-05-27 00:00:00'), 3),
 (Timestamp('2019-05-28 00:00:00'), 0),
 (Timestamp('2019-05-29 00:00:00'), 0),
 (Timestamp('2019-06-10 00:00:00'), 6),
 (Timestamp('2019-06-11 00:00:00'), 0),
 (Timestamp('2019-06-13 00:00:00'), 1),
 (Timestamp('2019-06-19 00:00:00'), 3),
 (Timestamp('2019-06-20 00:00:00'), 0),
 (Timestamp('2019-06-21 00:00:00'), 0),
 (Timestamp('2019-06-26 00:00:00'), 2),
 (Timestamp('2019-06-27 00:00:00'), 0),
 (Timestamp('2019-07-01 00:00:00'), 1),
 (Timestamp('2019-07-12 00:00:00'), 8),
 (Timestamp('2019-07-15 00:00:00'), 0),
 (Timestamp('2019-07-16 00:00:00'), 0),
 (Timestamp('2019-07-17 00:00:00'), 0),
 (Timestamp('2019-07-19 00:00:00'), 1),
 (Timestamp('2019-07-23 00:00:00'), 1),
 (Timestamp('2019-07-24 00:00:00'), 0),
 (Timestamp('2019-07-25 00:00:00'), 0),
 (Timestamp('2019-07-26 00:00:00'), 0),
 (Timestamp('2019-07-29 00:00:00'), 0),
 (Timestamp('2019-07-30 00:00:00'), 0),
 (Timestamp('2019-07-31 00:00:00'), 0),
 (Timestamp('2019-08-07 00:00:00'), 4),
 (Timestamp('2019-08-08 00:00:00'), 0),
 (Timestamp('2019-08-12 00:00:00'), 1),
 (Timestamp('2019-08-14 00:00:00'), 1),
 (Timestamp('2019-08-15 00:00:00'), 0),
 (Timestamp('2019-08-16 00:00:00'), 0),
 (Timestamp('2019-08-19 00:00:00'), 0),
 (Timestamp('2019-08-20 00:00:00'), 0),
 (Timestamp('2019-08-21 00:00:00'), 0),
 (Timestamp('2019-08-23 00:00:00'), 1),
 (Timestamp('2019-08-27 00:00:00'), 1),
 (Timestamp('2019-08-28 00:00:00'), 0),
 (Timestamp('2019-09-02 00:00:00'), 2),
 (Timestamp('2019-09-03 00:00:00'), 0),
 (Timestamp('2019-09-04 00:00:00'), 0),
 (Timestamp('2019-09-05 00:00:00'), 0),
 (Timestamp('2019-09-06 00:00:00'), 0),
 (Timestamp('2019-09-09 00:00:00'), 0),
 (Timestamp('2019-09-10 00:00:00'), 0),
 (Timestamp('2019-09-12 00:00:00'), 1),
 (Timestamp('2019-09-18 00:00:00'), 2),
 (Timestamp('2019-09-19 00:00:00'), 0),
 (Timestamp('2019-09-20 00:00:00'), 0),
 (Timestamp('2019-09-24 00:00:00'), 1),
 (Timestamp('2019-09-27 00:00:00'), 2),
 (Timestamp('2019-10-09 00:00:00'), 2),
 (Timestamp('2019-10-10 00:00:00'), 0),
 (Timestamp('2019-10-11 00:00:00'), 0),
 (Timestamp('2019-10-14 00:00:00'), 0),
 (Timestamp('2019-10-22 00:00:00'), 5),
 (Timestamp('2019-10-25 00:00:00'), 2),
 (Timestamp('2019-10-28 00:00:00'), 0),
 (Timestamp('2019-11-01 00:00:00'), 3),
 (Timestamp('2019-11-04 00:00:00'), 0),
 (Timestamp('2019-11-05 00:00:00'), 0),
 (Timestamp('2019-11-07 00:00:00'), 1),
 (Timestamp('2019-11-14 00:00:00'), 4),
 (Timestamp('2019-11-18 00:00:00'), 1),
 (Timestamp('2019-11-19 00:00:00'), 0),
 (Timestamp('2019-11-26 00:00:00'), 4),
 (Timestamp('2019-12-03 00:00:00'), 4),
 (Timestamp('2019-12-04 00:00:00'), 0),
 (Timestamp('2019-12-05 00:00:00'), 0),
 (Timestamp('2019-12-06 00:00:00'), 0),
 (Timestamp('2019-12-09 00:00:00'), 0),
 (Timestamp('2019-12-10 00:00:00'), 0),
 (Timestamp('2019-12-11 00:00:00'), 0),
 (Timestamp('2019-12-12 00:00:00'), 0),
 (Timestamp('2019-12-13 00:00:00'), 0),
 (Timestamp('2019-12-16 00:00:00'), 0),
 (Timestamp('2019-12-17 00:00:00'), 0),
 (Timestamp('2019-12-18 00:00:00'), 0),
 (Timestamp('2019-12-24 00:00:00'), 3),
 (Timestamp('2019-12-25 00:00:00'), 0),
 (Timestamp('2019-12-26 00:00:00'), 0),
 (Timestamp('2019-12-30 00:00:00'), 1),
 (Timestamp('2019-12-31 00:00:00'), 0),
 (Timestamp('2020-01-02 00:00:00'), 0),
 (Timestamp('2020-01-03 00:00:00'), 0),
 (Timestamp('2020-01-06 00:00:00'), 0),
 (Timestamp('2020-01-07 00:00:00'), 0),
 (Timestamp('2020-01-09 00:00:00'), 1),
 (Timestamp('2020-01-13 00:00:00'), 1),
 (Timestamp('2020-01-14 00:00:00'), 0),
 (Timestamp('2020-01-17 00:00:00'), 2),
 (Timestamp('2020-01-20 00:00:00'), 0),
 (Timestamp('2020-01-22 00:00:00'), 1),
 (Timestamp('2020-02-04 00:00:00'), 2),
 (Timestamp('2020-02-05 00:00:00'), 0),
 (Timestamp('2020-02-06 00:00:00'), 0),
 (Timestamp('2020-02-10 00:00:00'), 1),
 (Timestamp('2020-02-11 00:00:00'), 0),
 (Timestamp('2020-02-12 00:00:00'), 0),
 (Timestamp('2020-02-14 00:00:00'), 1),
 (Timestamp('2020-02-17 00:00:00'), 0),
 (Timestamp('2020-02-18 00:00:00'), 0),
 (Timestamp('2020-02-19 00:00:00'), 0),
 (Timestamp('2020-02-20 00:00:00'), 0),
 (Timestamp('2020-02-21 00:00:00'), 0),
 (Timestamp('2020-02-24 00:00:00'), 0),
 (Timestamp('2020-03-02 00:00:00'), 4),
 (Timestamp('2020-03-03 00:00:00'), 0),
 (Timestamp('2020-03-04 00:00:00'), 0),
 (Timestamp('2020-03-05 00:00:00'), 0),
 (Timestamp('2020-03-06 00:00:00'), 0),
 (Timestamp('2020-03-10 00:00:00'), 1),
 (Timestamp('2020-03-11 00:00:00'), 0),
 (Timestamp('2020-03-17 00:00:00'), 3),
 (Timestamp('2020-03-18 00:00:00'), 0),
 (Timestamp('2020-03-19 00:00:00'), 0),
 (Timestamp('2020-03-20 00:00:00'), 0),
 (Timestamp('2020-03-24 00:00:00'), 1),
 (Timestamp('2020-03-25 00:00:00'), 0),
 (Timestamp('2020-03-31 00:00:00'), 3),
 (Timestamp('2020-04-01 00:00:00'), 0),
 (Timestamp('2020-04-07 00:00:00'), 2),
 (Timestamp('2020-04-14 00:00:00'), 4),
 (Timestamp('2020-04-15 00:00:00'), 0),
 (Timestamp('2020-04-16 00:00:00'), 0),
 (Timestamp('2020-04-17 00:00:00'), 0),
 (Timestamp('2020-04-20 00:00:00'), 0),
 (Timestamp('2020-04-21 00:00:00'), 0),
 (Timestamp('2020-04-22 00:00:00'), 0),
 (Timestamp('2020-04-23 00:00:00'), 0),
 (Timestamp('2020-04-27 00:00:00'), 1),
 (Timestamp('2020-04-30 00:00:00'), 2),
 (Timestamp('2020-05-06 00:00:00'), 0),
 (Timestamp('2020-05-08 00:00:00'), 1),
 (Timestamp('2020-05-11 00:00:00'), 0),
 (Timestamp('2020-05-19 00:00:00'), 5),
 (Timestamp('2020-05-26 00:00:00'), 4),
 (Timestamp('2020-05-27 00:00:00'), 0),
 (Timestamp('2020-05-29 00:00:00'), 1),
 (Timestamp('2020-06-01 00:00:00'), 0),
 (Timestamp('2020-06-02 00:00:00'), 0),
 (Timestamp('2020-06-08 00:00:00'), 3),
 (Timestamp('2020-06-09 00:00:00'), 0),
 (Timestamp('2020-06-12 00:00:00'), 2),
 (Timestamp('2020-06-15 00:00:00'), 0),
 (Timestamp('2020-06-16 00:00:00'), 0),
 (Timestamp('2020-06-17 00:00:00'), 0),
 (Timestamp('2020-06-18 00:00:00'), 0),
 (Timestamp('2020-06-19 00:00:00'), 0),
 (Timestamp('2020-06-30 00:00:00'), 4),
 (Timestamp('2020-07-01 00:00:00'), 0),
 (Timestamp('2020-07-02 00:00:00'), 0),
 (Timestamp('2020-07-03 00:00:00'), 0),
 (Timestamp('2020-07-06 00:00:00'), 0),
 (Timestamp('2020-07-07 00:00:00'), 0),
 (Timestamp('2020-07-08 00:00:00'), 0),
 (Timestamp('2020-07-09 00:00:00'), 0),
 (Timestamp('2020-07-13 00:00:00'), 1),
 (Timestamp('2020-07-17 00:00:00'), 3),
 (Timestamp('2020-07-20 00:00:00'), 0),
 (Timestamp('2020-07-21 00:00:00'), 0),
 (Timestamp('2020-07-22 00:00:00'), 0),
 (Timestamp('2020-07-23 00:00:00'), 0),
 (Timestamp('2020-07-28 00:00:00'), 2),
 (Timestamp('2020-07-29 00:00:00'), 0),
 (Timestamp('2020-07-30 00:00:00'), 0),
 (Timestamp('2020-07-31 00:00:00'), 0),
 (Timestamp('2020-08-03 00:00:00'), 0),
 (Timestamp('2020-08-05 00:00:00'), 1),
 (Timestamp('2020-08-10 00:00:00'), 2),
 (Timestamp('2020-08-13 00:00:00'), 2),
 (Timestamp('2020-08-17 00:00:00'), 1),
 (Timestamp('2020-08-18 00:00:00'), 0),
 (Timestamp('2020-08-21 00:00:00'), 2),
 (Timestamp('2020-08-25 00:00:00'), 1),
 (Timestamp('2020-08-27 00:00:00'), 1),
 (Timestamp('2020-08-28 00:00:00'), 0),
 (Timestamp('2020-08-31 00:00:00'), 0),
 (Timestamp('2020-09-01 00:00:00'), 0),
 (Timestamp('2020-09-02 00:00:00'), 0),
 (Timestamp('2020-09-11 00:00:00'), 6),
 (Timestamp('2020-09-14 00:00:00'), 0),
 (Timestamp('2020-09-15 00:00:00'), 0),
 (Timestamp('2020-09-17 00:00:00'), 1),
 (Timestamp('2020-09-18 00:00:00'), 0),
 (Timestamp('2020-09-29 00:00:00'), 6),
 (Timestamp('2020-09-30 00:00:00'), 0),
 (Timestamp('2020-10-09 00:00:00'), 0),
 (Timestamp('2020-10-12 00:00:00'), 0),
 (Timestamp('2020-10-13 00:00:00'), 0),
 (Timestamp('2020-10-19 00:00:00'), 3),
 (Timestamp('2020-10-20 00:00:00'), 0),
 (Timestamp('2020-10-21 00:00:00'), 0),
 (Timestamp('2020-10-22 00:00:00'), 0),
 (Timestamp('2020-10-26 00:00:00'), 1),
 (Timestamp('2020-10-27 00:00:00'), 0),
 (Timestamp('2020-11-04 00:00:00'), 5),
 (Timestamp('2020-11-05 00:00:00'), 0),
 (Timestamp('2020-11-09 00:00:00'), 1),
 (Timestamp('2020-11-12 00:00:00'), 2),
 (Timestamp('2020-11-13 00:00:00'), 0),
 (Timestamp('2020-11-20 00:00:00'), 4),
 (Timestamp('2020-11-23 00:00:00'), 0),
 (Timestamp('2020-11-24 00:00:00'), 0),
 (Timestamp('2020-11-30 00:00:00'), 3),
 (Timestamp('2020-12-01 00:00:00'), 0),
 (Timestamp('2020-12-04 00:00:00'), 2),
 (Timestamp('2020-12-07 00:00:00'), 0),
 (Timestamp('2020-12-10 00:00:00'), 2),
 (Timestamp('2020-12-17 00:00:00'), 4),
 (Timestamp('2020-12-18 00:00:00'), 0),
 (Timestamp('2020-12-21 00:00:00'), 0),
 (Timestamp('2020-12-25 00:00:00'), 3),
 (Timestamp('2020-12-30 00:00:00'), 2),
 (Timestamp('2020-12-31 00:00:00'), 0),
 (Timestamp('2021-01-04 00:00:00'), 0),
 (Timestamp('2021-01-05 00:00:00'), 0),
 (Timestamp('2021-01-12 00:00:00'), 4),
 (Timestamp('2021-01-14 00:00:00'), 1),
 (Timestamp('2021-01-15 00:00:00'), 0),
 (Timestamp('2021-01-18 00:00:00'), 0),
 (Timestamp('2021-01-20 00:00:00'), 1),
 (Timestamp('2021-01-21 00:00:00'), 0)]

In [98]:
result = list(sorted(max_day_list,key=lambda x:x[1],reverse=True))

In [99]:
result

[(Timestamp('2019-07-12 00:00:00'), 8),
 (Timestamp('2018-05-31 00:00:00'), 6),
 (Timestamp('2018-09-13 00:00:00'), 6),
 (Timestamp('2018-12-24 00:00:00'), 6),
 (Timestamp('2019-04-30 00:00:00'), 6),
 (Timestamp('2019-06-10 00:00:00'), 6),
 (Timestamp('2020-09-11 00:00:00'), 6),
 (Timestamp('2020-09-29 00:00:00'), 6),
 (Timestamp('2021-01-29 00:00:00'), 6),
 (Timestamp('2018-02-02 00:00:00'), 5),
 (Timestamp('2018-08-21 00:00:00'), 5),
 (Timestamp('2019-10-22 00:00:00'), 5),
 (Timestamp('2020-05-19 00:00:00'), 5),
 (Timestamp('2020-11-04 00:00:00'), 5),
 (Timestamp('2018-02-12 00:00:00'), 4),
 (Timestamp('2018-03-19 00:00:00'), 4),
 (Timestamp('2018-03-26 00:00:00'), 4),
 (Timestamp('2018-04-18 00:00:00'), 4),
 (Timestamp('2018-06-20 00:00:00'), 4),
 (Timestamp('2018-07-31 00:00:00'), 4),
 (Timestamp('2018-08-07 00:00:00'), 4),
 (Timestamp('2018-09-04 00:00:00'), 4),
 (Timestamp('2018-10-12 00:00:00'), 4),
 (Timestamp('2018-10-19 00:00:00'), 4),
 (Timestamp('2019-02-01 00:00:00'), 4),
 (Timestamp('2019-04-12 00:00:00'), 4),
 (Timestamp('2019-08-07 00:00:00'), 4),
 (Timestamp('2019-11-14 00:00:00'), 4),
 (Timestamp('2019-11-26 00:00:00'), 4),
 (Timestamp('2019-12-03 00:00:00'), 4),
 (Timestamp('2020-03-02 00:00:00'), 4),
 (Timestamp('2020-04-14 00:00:00'), 4),
 (Timestamp('2020-05-26 00:00:00'), 4),
 (Timestamp('2020-06-30 00:00:00'), 4),
 (Timestamp('2020-11-20 00:00:00'), 4),
 (Timestamp('2020-12-17 00:00:00'), 4),
 (Timestamp('2021-01-12 00:00:00'), 4),
 (Timestamp('2018-11-27 00:00:00'), 3),
 (Timestamp('2018-12-28 00:00:00'), 3),
 (Timestamp('2019-03-27 00:00:00'), 3),
 (Timestamp('2019-05-27 00:00:00'), 3),
 (Timestamp('2019-06-19 00:00:00'), 3),
 (Timestamp('2019-11-01 00:00:00'), 3),
 (Timestamp('2019-12-24 00:00:00'), 3),
 (Timestamp('2020-03-17 00:00:00'), 3),
 (Timestamp('2020-03-31 00:00:00'), 3),
 (Timestamp('2020-06-08 00:00:00'), 3),
 (Timestamp('2020-07-17 00:00:00'), 3),
 (Timestamp('2020-10-19 00:00:00'), 3),
 (Timestamp('2020-11-30 00:00:00'), 3),
 (Timestamp('2020-12-25 00:00:00'), 3),
 (Timestamp('2018-01-11 00:00:00'), 2),
 (Timestamp('2018-01-16 00:00:00'), 2),
 (Timestamp('2018-03-01 00:00:00'), 2),
 (Timestamp('2018-03-06 00:00:00'), 2),
 (Timestamp('2018-04-09 00:00:00'), 2),
 (Timestamp('2018-04-24 00:00:00'), 2),
 (Timestamp('2018-04-27 00:00:00'), 2),
 (Timestamp('2018-05-15 00:00:00'), 2),
 (Timestamp('2018-05-18 00:00:00'), 2),
 (Timestamp('2018-06-05 00:00:00'), 2),
 (Timestamp('2018-06-12 00:00:00'), 2),
 (Timestamp('2018-07-06 00:00:00'), 2),
 (Timestamp('2018-09-18 00:00:00'), 2),
 (Timestamp('2018-11-12 00:00:00'), 2),
 (Timestamp('2018-12-12 00:00:00'), 2),
 (Timestamp('2019-02-28 00:00:00'), 2),
 (Timestamp('2019-03-15 00:00:00'), 2),
 (Timestamp('2019-05-21 00:00:00'), 2),
 (Timestamp('2019-06-26 00:00:00'), 2),
 (Timestamp('2019-09-02 00:00:00'), 2),
 (Timestamp('2019-09-18 00:00:00'), 2),
 (Timestamp('2019-09-27 00:00:00'), 2),
 (Timestamp('2019-10-09 00:00:00'), 2),
 (Timestamp('2019-10-25 00:00:00'), 2),
 (Timestamp('2020-01-17 00:00:00'), 2),
 (Timestamp('2020-02-04 00:00:00'), 2),
 (Timestamp('2020-04-07 00:00:00'), 2),
 (Timestamp('2020-04-30 00:00:00'), 2),
 (Timestamp('2020-06-12 00:00:00'), 2),
 (Timestamp('2020-07-28 00:00:00'), 2),
 (Timestamp('2020-08-10 00:00:00'), 2),
 (Timestamp('2020-08-13 00:00:00'), 2),
 (Timestamp('2020-08-21 00:00:00'), 2),
 (Timestamp('2020-11-12 00:00:00'), 2),
 (Timestamp('2020-12-04 00:00:00'), 2),
 (Timestamp('2020-12-10 00:00:00'), 2),
 (Timestamp('2020-12-30 00:00:00'), 2),
 (Timestamp('2018-01-18 00:00:00'), 1),
 (Timestamp('2018-02-26 00:00:00'), 1),
 (Timestamp('2018-03-08 00:00:00'), 1),
 (Timestamp('2018-03-29 00:00:00'), 1),
 (Timestamp('2018-04-11 00:00:00'), 1),
 (Timestamp('2018-05-03 00:00:00'), 1),
 (Timestamp('2018-05-10 00:00:00'), 1),
 (Timestamp('2018-06-22 00:00:00'), 1),
 (Timestamp('2018-06-28 00:00:00'), 1),
 (Timestamp('2018-07-03 00:00:00'), 1),
 (Timestamp('2018-07-12 00:00:00'), 1),
 (Timestamp('2018-07-17 00:00:00'), 1),
 (Timestamp('2018-08-09 00:00:00'), 1),
 (Timestamp('2018-08-23 00:00:00'), 1),
 (Timestamp('2018-09-21 00:00:00'), 1),
 (Timestamp('2018-09-26 00:00:00'), 1),
 (Timestamp('2018-09-28 00:00:00'), 1),
 (Timestamp('2018-10-24 00:00:00'), 1),
 (Timestamp('2018-10-26 00:00:00'), 1),
 (Timestamp('2018-10-30 00:00:00'), 1),
 (Timestamp('2018-11-07 00:00:00'), 1),
 (Timestamp('2018-11-21 00:00:00'), 1),
 (Timestamp('2018-11-30 00:00:00'), 1),
 (Timestamp('2018-12-07 00:00:00'), 1),
 (Timestamp('2019-01-03 00:00:00'), 1),
 (Timestamp('2019-01-15 00:00:00'), 1),
 (Timestamp('2019-01-18 00:00:00'), 1),
 (Timestamp('2019-01-23 00:00:00'), 1),
 (Timestamp('2019-02-18 00:00:00'), 1),
 (Timestamp('2019-02-20 00:00:00'), 1),
 (Timestamp('2019-03-11 00:00:00'), 1),
 (Timestamp('2019-03-21 00:00:00'), 1),
 (Timestamp('2019-03-29 00:00:00'), 1),
 (Timestamp('2019-04-16 00:00:00'), 1),
 (Timestamp('2019-04-19 00:00:00'), 1),
 (Timestamp('2019-05-07 00:00:00'), 1),
 (Timestamp('2019-05-14 00:00:00'), 1),
 (Timestamp('2019-06-13 00:00:00'), 1),
 (Timestamp('2019-07-01 00:00:00'), 1),
 (Timestamp('2019-07-19 00:00:00'), 1),
 (Timestamp('2019-07-23 00:00:00'), 1),
 (Timestamp('2019-08-12 00:00:00'), 1),
 (Timestamp('2019-08-14 00:00:00'), 1),
 (Timestamp('2019-08-23 00:00:00'), 1),
 (Timestamp('2019-08-27 00:00:00'), 1),
 (Timestamp('2019-09-12 00:00:00'), 1),
 (Timestamp('2019-09-24 00:00:00'), 1),
 (Timestamp('2019-11-07 00:00:00'), 1),
 (Timestamp('2019-11-18 00:00:00'), 1),
 (Timestamp('2019-12-30 00:00:00'), 1),
 (Timestamp('2020-01-09 00:00:00'), 1),
 (Timestamp('2020-01-13 00:00:00'), 1),
 (Timestamp('2020-01-22 00:00:00'), 1),
 (Timestamp('2020-02-10 00:00:00'), 1),
 (Timestamp('2020-02-14 00:00:00'), 1),
 (Timestamp('2020-03-10 00:00:00'), 1),
 (Timestamp('2020-03-24 00:00:00'), 1),
 (Timestamp('2020-04-27 00:00:00'), 1),
 (Timestamp('2020-05-08 00:00:00'), 1),
 (Timestamp('2020-05-29 00:00:00'), 1),
 (Timestamp('2020-07-13 00:00:00'), 1),
 (Timestamp('2020-08-05 00:00:00'), 1),
 (Timestamp('2020-08-17 00:00:00'), 1),
 (Timestamp('2020-08-25 00:00:00'), 1),
 (Timestamp('2020-08-27 00:00:00'), 1),
 (Timestamp('2020-09-17 00:00:00'), 1),
 (Timestamp('2020-10-26 00:00:00'), 1),
 (Timestamp('2020-11-09 00:00:00'), 1),
 (Timestamp('2021-01-14 00:00:00'), 1),
 (Timestamp('2021-01-20 00:00:00'), 1),
 (Timestamp('2017-12-29 00:00:00'), 0),
 (Timestamp('2018-01-02 00:00:00'), 0),
 (Timestamp('2018-01-03 00:00:00'), 0),
 (Timestamp('2018-01-04 00:00:00'), 0),
 (Timestamp('2018-01-05 00:00:00'), 0),
 (Timestamp('2018-01-08 00:00:00'), 0),
 (Timestamp('2018-01-19 00:00:00'), 0),
 (Timestamp('2018-01-22 00:00:00'), 0),
 (Timestamp('2018-01-23 00:00:00'), 0),
 (Timestamp('2018-01-24 00:00:00'), 0),
 (Timestamp('2018-01-25 00:00:00'), 0),
 (Timestamp('2018-02-05 00:00:00'), 0),
 (Timestamp('2018-02-13 00:00:00'), 0),
 (Timestamp('2018-02-14 00:00:00'), 0),
 (Timestamp('2018-02-22 00:00:00'), 0),
 (Timestamp('2018-03-09 00:00:00'), 0),
 (Timestamp('2018-03-12 00:00:00'), 0),
 (Timestamp('2018-03-27 00:00:00'), 0),
 (Timestamp('2018-03-30 00:00:00'), 0),
 (Timestamp('2018-04-02 00:00:00'), 0),
 (Timestamp('2018-04-19 00:00:00'), 0),
 (Timestamp('2018-05-04 00:00:00'), 0),
 (Timestamp('2018-05-07 00:00:00'), 0),
 (Timestamp('2018-05-08 00:00:00'), 0),
 (Timestamp('2018-05-21 00:00:00'), 0),
 (Timestamp('2018-05-22 00:00:00'), 0),
 (Timestamp('2018-06-06 00:00:00'), 0),
 (Timestamp('2018-06-07 00:00:00'), 0),
 (Timestamp('2018-06-25 00:00:00'), 0),
 (Timestamp('2018-06-26 00:00:00'), 0),
 (Timestamp('2018-06-29 00:00:00'), 0),
 (Timestamp('2018-07-09 00:00:00'), 0),
 (Timestamp('2018-07-10 00:00:00'), 0),
 (Timestamp('2018-07-13 00:00:00'), 0),
 (Timestamp('2018-07-18 00:00:00'), 0),
 (Timestamp('2018-07-19 00:00:00'), 0),
 (Timestamp('2018-07-20 00:00:00'), 0),
 (Timestamp('2018-07-23 00:00:00'), 0),
 (Timestamp('2018-07-24 00:00:00'), 0),
 (Timestamp('2018-08-10 00:00:00'), 0),
 (Timestamp('2018-08-13 00:00:00'), 0),
 (Timestamp('2018-08-24 00:00:00'), 0),
 (Timestamp('2018-08-27 00:00:00'), 0),
 (Timestamp('2018-08-28 00:00:00'), 0),
 (Timestamp('2018-09-19 00:00:00'), 0),
 (Timestamp('2018-10-22 00:00:00'), 0),
 (Timestamp('2018-10-31 00:00:00'), 0),
 (Timestamp('2018-11-01 00:00:00'), 0),
 (Timestamp('2018-11-02 00:00:00'), 0),
 (Timestamp('2018-11-05 00:00:00'), 0),
 (Timestamp('2018-11-13 00:00:00'), 0),
 (Timestamp('2018-11-14 00:00:00'), 0),
 (Timestamp('2018-11-15 00:00:00'), 0),
 (Timestamp('2018-11-16 00:00:00'), 0),
 (Timestamp('2018-11-19 00:00:00'), 0),
 (Timestamp('2018-11-28 00:00:00'), 0),
 (Timestamp('2018-12-03 00:00:00'), 0),
 (Timestamp('2018-12-04 00:00:00'), 0),
 (Timestamp('2018-12-05 00:00:00'), 0),
 (Timestamp('2018-12-13 00:00:00'), 0),
 (Timestamp('2019-01-04 00:00:00'), 0),
 (Timestamp('2019-01-07 00:00:00'), 0),
 (Timestamp('2019-01-08 00:00:00'), 0),
 (Timestamp('2019-01-09 00:00:00'), 0),
 (Timestamp('2019-01-10 00:00:00'), 0),
 (Timestamp('2019-01-11 00:00:00'), 0),
 (Timestamp('2019-01-16 00:00:00'), 0),
 (Timestamp('2019-01-21 00:00:00'), 0),
 (Timestamp('2019-01-24 00:00:00'), 0),
 (Timestamp('2019-01-25 00:00:00'), 0),
 (Timestamp('2019-02-11 00:00:00'), 0),
 (Timestamp('2019-02-12 00:00:00'), 0),
 (Timestamp('2019-02-13 00:00:00'), 0),
 (Timestamp('2019-02-14 00:00:00'), 0),
 (Timestamp('2019-02-21 00:00:00'), 0),
 (Timestamp('2019-02-22 00:00:00'), 0),
 (Timestamp('2019-02-25 00:00:00'), 0),
 (Timestamp('2019-03-01 00:00:00'), 0),
 (Timestamp('2019-03-04 00:00:00'), 0),
 (Timestamp('2019-03-05 00:00:00'), 0),
 (Timestamp('2019-03-06 00:00:00'), 0),
 (Timestamp('2019-03-07 00:00:00'), 0),
 (Timestamp('2019-03-12 00:00:00'), 0),
 (Timestamp('2019-03-18 00:00:00'), 0),
 (Timestamp('2019-03-19 00:00:00'), 0),
 (Timestamp('2019-04-01 00:00:00'), 0),
 (Timestamp('2019-04-02 00:00:00'), 0),
 (Timestamp('2019-04-03 00:00:00'), 0),
 (Timestamp('2019-04-04 00:00:00'), 0),
 (Timestamp('2019-04-17 00:00:00'), 0),
 (Timestamp('2019-05-08 00:00:00'), 0),
 (Timestamp('2019-05-09 00:00:00'), 0),
 (Timestamp('2019-05-10 00:00:00'), 0),
 (Timestamp('2019-05-15 00:00:00'), 0),
 (Timestamp('2019-05-16 00:00:00'), 0),
 (Timestamp('2019-05-28 00:00:00'), 0),
 (Timestamp('2019-05-29 00:00:00'), 0),
 (Timestamp('2019-06-11 00:00:00'), 0),
 (Timestamp('2019-06-20 00:00:00'), 0),
 (Timestamp('2019-06-21 00:00:00'), 0),
 (Timestamp('2019-06-27 00:00:00'), 0),
 (Timestamp('2019-07-15 00:00:00'), 0),
 (Timestamp('2019-07-16 00:00:00'), 0),
 (Timestamp('2019-07-17 00:00:00'), 0),
 (Timestamp('2019-07-24 00:00:00'), 0),
 (Timestamp('2019-07-25 00:00:00'), 0),
 (Timestamp('2019-07-26 00:00:00'), 0),
 (Timestamp('2019-07-29 00:00:00'), 0),
 (Timestamp('2019-07-30 00:00:00'), 0),
 (Timestamp('2019-07-31 00:00:00'), 0),
 (Timestamp('2019-08-08 00:00:00'), 0),
 (Timestamp('2019-08-15 00:00:00'), 0),
 (Timestamp('2019-08-16 00:00:00'), 0),
 (Timestamp('2019-08-19 00:00:00'), 0),
 (Timestamp('2019-08-20 00:00:00'), 0),
 (Timestamp('2019-08-21 00:00:00'), 0),
 (Timestamp('2019-08-28 00:00:00'), 0),
 (Timestamp('2019-09-03 00:00:00'), 0),
 (Timestamp('2019-09-04 00:00:00'), 0),
 (Timestamp('2019-09-05 00:00:00'), 0),
 (Timestamp('2019-09-06 00:00:00'), 0),
 (Timestamp('2019-09-09 00:00:00'), 0),
 (Timestamp('2019-09-10 00:00:00'), 0),
 (Timestamp('2019-09-19 00:00:00'), 0),
 (Timestamp('2019-09-20 00:00:00'), 0),
 (Timestamp('2019-10-10 00:00:00'), 0),
 (Timestamp('2019-10-11 00:00:00'), 0),
 (Timestamp('2019-10-14 00:00:00'), 0),
 (Timestamp('2019-10-28 00:00:00'), 0),
 (Timestamp('2019-11-04 00:00:00'), 0),
 (Timestamp('2019-11-05 00:00:00'), 0),
 (Timestamp('2019-11-19 00:00:00'), 0),
 (Timestamp('2019-12-04 00:00:00'), 0),
 (Timestamp('2019-12-05 00:00:00'), 0),
 (Timestamp('2019-12-06 00:00:00'), 0),
 (Timestamp('2019-12-09 00:00:00'), 0),
 (Timestamp('2019-12-10 00:00:00'), 0),
 (Timestamp('2019-12-11 00:00:00'), 0),
 (Timestamp('2019-12-12 00:00:00'), 0),
 (Timestamp('2019-12-13 00:00:00'), 0),
 (Timestamp('2019-12-16 00:00:00'), 0),
 (Timestamp('2019-12-17 00:00:00'), 0),
 (Timestamp('2019-12-18 00:00:00'), 0),
 (Timestamp('2019-12-25 00:00:00'), 0),
 (Timestamp('2019-12-26 00:00:00'), 0),
 (Timestamp('2019-12-31 00:00:00'), 0),
 (Timestamp('2020-01-02 00:00:00'), 0),
 (Timestamp('2020-01-03 00:00:00'), 0),
 (Timestamp('2020-01-06 00:00:00'), 0),
 (Timestamp('2020-01-07 00:00:00'), 0),
 (Timestamp('2020-01-14 00:00:00'), 0),
 (Timestamp('2020-01-20 00:00:00'), 0),
 (Timestamp('2020-02-05 00:00:00'), 0),
 (Timestamp('2020-02-06 00:00:00'), 0),
 (Timestamp('2020-02-11 00:00:00'), 0),
 (Timestamp('2020-02-12 00:00:00'), 0),
 (Timestamp('2020-02-17 00:00:00'), 0),
 (Timestamp('2020-02-18 00:00:00'), 0),
 (Timestamp('2020-02-19 00:00:00'), 0),
 (Timestamp('2020-02-20 00:00:00'), 0),
 (Timestamp('2020-02-21 00:00:00'), 0),
 (Timestamp('2020-02-24 00:00:00'), 0),
 (Timestamp('2020-03-03 00:00:00'), 0),
 (Timestamp('2020-03-04 00:00:00'), 0),
 (Timestamp('2020-03-05 00:00:00'), 0),
 (Timestamp('2020-03-06 00:00:00'), 0),
 (Timestamp('2020-03-11 00:00:00'), 0),
 (Timestamp('2020-03-18 00:00:00'), 0),
 (Timestamp('2020-03-19 00:00:00'), 0),
 (Timestamp('2020-03-20 00:00:00'), 0),
 (Timestamp('2020-03-25 00:00:00'), 0),
 (Timestamp('2020-04-01 00:00:00'), 0),
 (Timestamp('2020-04-15 00:00:00'), 0),
 (Timestamp('2020-04-16 00:00:00'), 0),
 (Timestamp('2020-04-17 00:00:00'), 0),
 (Timestamp('2020-04-20 00:00:00'), 0),
 (Timestamp('2020-04-21 00:00:00'), 0),
 (Timestamp('2020-04-22 00:00:00'), 0),
 (Timestamp('2020-04-23 00:00:00'), 0),
 (Timestamp('2020-05-06 00:00:00'), 0),
 (Timestamp('2020-05-11 00:00:00'), 0),
 (Timestamp('2020-05-27 00:00:00'), 0),
 (Timestamp('2020-06-01 00:00:00'), 0),
 (Timestamp('2020-06-02 00:00:00'), 0),
 (Timestamp('2020-06-09 00:00:00'), 0),
 (Timestamp('2020-06-15 00:00:00'), 0),
 (Timestamp('2020-06-16 00:00:00'), 0),
 (Timestamp('2020-06-17 00:00:00'), 0),
 (Timestamp('2020-06-18 00:00:00'), 0),
 (Timestamp('2020-06-19 00:00:00'), 0),
 (Timestamp('2020-07-01 00:00:00'), 0),
 (Timestamp('2020-07-02 00:00:00'), 0),
 (Timestamp('2020-07-03 00:00:00'), 0),
 (Timestamp('2020-07-06 00:00:00'), 0),
 (Timestamp('2020-07-07 00:00:00'), 0),
 (Timestamp('2020-07-08 00:00:00'), 0),
 (Timestamp('2020-07-09 00:00:00'), 0),
 (Timestamp('2020-07-20 00:00:00'), 0),
 (Timestamp('2020-07-21 00:00:00'), 0),
 (Timestamp('2020-07-22 00:00:00'), 0),
 (Timestamp('2020-07-23 00:00:00'), 0),
 (Timestamp('2020-07-29 00:00:00'), 0),
 (Timestamp('2020-07-30 00:00:00'), 0),
 (Timestamp('2020-07-31 00:00:00'), 0),
 (Timestamp('2020-08-03 00:00:00'), 0),
 (Timestamp('2020-08-18 00:00:00'), 0),
 (Timestamp('2020-08-28 00:00:00'), 0),
 (Timestamp('2020-08-31 00:00:00'), 0),
 (Timestamp('2020-09-01 00:00:00'), 0),
 (Timestamp('2020-09-02 00:00:00'), 0),
 (Timestamp('2020-09-14 00:00:00'), 0),
 (Timestamp('2020-09-15 00:00:00'), 0),
 (Timestamp('2020-09-18 00:00:00'), 0),
 (Timestamp('2020-09-30 00:00:00'), 0),
 (Timestamp('2020-10-09 00:00:00'), 0),
 (Timestamp('2020-10-12 00:00:00'), 0),
 (Timestamp('2020-10-13 00:00:00'), 0),
 (Timestamp('2020-10-20 00:00:00'), 0),
 (Timestamp('2020-10-21 00:00:00'), 0),
 (Timestamp('2020-10-22 00:00:00'), 0),
 (Timestamp('2020-10-27 00:00:00'), 0),
 (Timestamp('2020-11-05 00:00:00'), 0),
 (Timestamp('2020-11-13 00:00:00'), 0),
 (Timestamp('2020-11-23 00:00:00'), 0),
 (Timestamp('2020-11-24 00:00:00'), 0),
 (Timestamp('2020-12-01 00:00:00'), 0),
 (Timestamp('2020-12-07 00:00:00'), 0),
 (Timestamp('2020-12-18 00:00:00'), 0),
 (Timestamp('2020-12-21 00:00:00'), 0),
 (Timestamp('2020-12-31 00:00:00'), 0),
 (Timestamp('2021-01-04 00:00:00'), 0),
 (Timestamp('2021-01-05 00:00:00'), 0),
 (Timestamp('2021-01-15 00:00:00'), 0),
 (Timestamp('2021-01-18 00:00:00'), 0),
 (Timestamp('2021-01-21 00:00:00'), 0)]

In [100]:
df = pd.DataFrame(result)

In [102]:
df.to_excel('temp1.xls')

In [30]:
df.iloc[371]

日期         2019-07-12 00:00:00
指数                     1118.22
成交额(亿元)                 36.586
涨跌                       2.158
涨跌额                      0.193
转债数目                       168
剩余规模                   2715.44
涨                         True
Name: 371, dtype: object

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   日期       750 non-null    datetime64[ns]
 1   指数       750 non-null    float64
 2   成交额(亿元)  750 non-null    float64
 3   涨跌       750 non-null    float64
 4   涨跌额      750 non-null    float64
 5   转债数目     750 non-null    float64
 6   剩余规模     750 non-null    float64
 7   涨        750 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(6)
memory usage: 41.9 KB

In [34]:
df['日期']=pd.to_datetime(df['日期'])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   日期       750 non-null    datetime64[ns]
 1   指数       750 non-null    float64
 2   成交额(亿元)  750 non-null    float64
 3   涨跌       750 non-null    float64
 4   涨跌额      750 non-null    float64
 5   转债数目     750 non-null    float64
 6   剩余规模     750 non-null    float64
 7   涨        750 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(6)
memory usage: 41.9 KB

In [37]:
df.head()

          日期       指数  成交额(亿元)      涨跌    涨跌额  转债数目     剩余规模     涨
0 2017-12-29  1000.00   10.581   0.000  0.000  36.0  853.790  True
1 2018-01-02  1008.83   13.936   8.831  0.883  36.0  690.602  True
2 2018-01-03  1018.81   15.964   9.977  0.989  37.0  691.246  True
3 2018-01-04  1024.34   15.495   5.536  0.543  38.0  700.443  True
4 2018-01-05  1034.66   19.973  10.311  1.007  38.0  700.443  True

In [38]:
df=df.set_index('日期',drop=True)

In [39]:
df.head()

                 指数  成交额(亿元)      涨跌    涨跌额  转债数目     剩余规模     涨
日期
2017-12-29  1000.00   10.581   0.000  0.000  36.0  853.790  True
2018-01-02  1008.83   13.936   8.831  0.883  36.0  690.602  True
2018-01-03  1018.81   15.964   9.977  0.989  37.0  691.246  True
2018-01-04  1024.34   15.495   5.536  0.543  38.0  700.443  True
2018-01-05  1034.66   19.973  10.311  1.007  38.0  700.443  True

In [40]:
df_w = df.resample('W')

In [42]:
df_w

In [43]:
df_raise_w = df_w.sum()

In [44]:
df_raise_w

                 指数   成交额(亿元)      涨跌    涨跌额    转债数目       剩余规模    涨
日期
2017-12-31  1000.00    10.581   0.000  0.000    36.0    853.790  1.0
2018-01-07  4086.64    65.368  34.655  3.422   149.0   2782.734  4.0
2018-01-14  5143.54    77.460  -8.803 -0.851   188.0   3549.162  2.0
2018-01-21  5095.12   113.991   1.900  0.196   208.0   3855.600  3.0
2018-01-28  5261.99   192.046  32.378  3.117   225.0   4088.732  4.0
...             ...       ...     ...    ...     ...        ...  ...
2021-01-03  6041.51  2003.653  21.301  1.414  1312.0  18955.970  2.0
2021-01-10  7754.99  3350.279   7.080  0.483  1650.0  23773.620  2.0
2021-01-17  7625.34  2821.030  -7.005 -0.447  1663.0  23746.800  3.0
2021-01-24  7732.26  2303.234  19.624  1.281  1694.0  25402.350  3.0
2021-01-31  6074.66  1950.645 -56.376 -3.689  1357.0  20419.000  0.0

[162 rows x 7 columns]

In [45]:
df_raise_w['涨'] = df_raise_w['涨跌额'].map(lambda x:True if x>=0 else False)

In [47]:

def get_max_day_list(df):
    max_day = 0
    max_day_list =[]
    for index,row in df.iterrows():
        if row['涨跌额'] < 0 :
            max_day+=1
        else:
            max_day_list.append((index,max_day))     
            max_day=0

    return max_day_list

In [48]:
max_week_list = get_max_day_list(df_raise_w)

In [49]:
result_w = list(sorted(max_week_list,key=lambda x:x[1],reverse=True))

In [50]:
result_w[:10]

[(Timestamp('2019-06-16 00:00:00', freq='W-SUN'), 7),
 (Timestamp('2018-05-06 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2018-06-10 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2019-01-06 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2019-10-13 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2019-11-10 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2020-04-19 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2020-05-31 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2021-01-03 00:00:00', freq='W-SUN'), 3),
 (Timestamp('2018-02-18 00:00:00', freq='W-SUN'), 2)]

In [53]:
df_raise_w['2019-04':'2019-07']

                 指数  成交额(亿元)      涨跌    涨跌额   转债数目      剩余规模      涨
日期
2019-04-07  4824.84  397.231  48.309  4.095  532.0   8290.41   True
2019-04-14  5977.16  364.510 -33.186 -2.753  687.0  11435.86  False
2019-04-21  5916.45  444.118   7.095  0.603  706.0  11713.41   True
2019-04-28  5794.55  447.095 -53.517 -4.575  743.0  11913.65  False
2019-05-05  2249.26  141.187  -6.906 -0.598  302.0   4872.06  False
2019-05-12  5519.59  450.270  -5.077 -0.376  780.0  12828.42  False
2019-05-19  5631.25  346.777  -4.103 -0.344  793.0  13207.74  False
2019-05-26  5566.35  271.664 -12.581 -1.122  800.0  13288.45  False
2019-06-02  5552.85  240.247  -1.578 -0.140  800.0  13288.45  False
2019-06-09  4344.55  213.357 -29.746 -2.715  639.0  10576.44  False
2019-06-16  5464.00  285.589  13.287  1.247  800.0  13226.80   True
2019-06-23  5489.88  297.800  27.847  2.539  799.0  13236.37   True
2019-06-30  5584.12  257.804   4.160  0.376  806.0  13287.62   True
2019-07-07  5676.44  398.209  11.787  1.059  818.0  13359.89   True
2019-07-14  5589.32  214.716 -14.652 -1.295  832.0  13524.30  False
2019-07-21  5603.55  186.546   1.506  0.136  841.0  13590.98   True
2019-07-28  5590.20  221.445   7.484  0.672  843.0  13513.02   True

In [54]:
df_raise_w.tail()

                 指数   成交额(亿元)      涨跌    涨跌额    转债数目      剩余规模      涨
日期
2021-01-03  6041.51  2003.653  21.301  1.414  1312.0  18955.97   True
2021-01-10  7754.99  3350.279   7.080  0.483  1650.0  23773.62   True
2021-01-17  7625.34  2821.030  -7.005 -0.447  1663.0  23746.80  False
2021-01-24  7732.26  2303.234  19.624  1.281  1694.0  25402.35   True
2021-01-31  6074.66  1950.645 -56.376 -3.689  1357.0  20419.00  False